QScrollBar:horizontal {
    border: 0px solid grey;
    background: bck;
    height: 16px;
    margin: 0px 20px 0 20px;
}
QScrollBar::handle:horizontal {
    background: hnl;
    min-width: 20px;
}
QScrollBar::add-line:horizontal {
    border: 0px solid grey;
    background: bck;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 0px solid grey;
    background: bck;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;